html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-renderer {
  position: relative;
  width: 100%;
}

.item-renderer {
  width: 100%;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.item-renderer-label {
  vertical-align: bottom;
  font-size: 20px;
  font-family: monospace;
  color: #666;
}

.even {
  background: #eee;
}

.odd {
}