# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages
*.packages
.idea/

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map
.packages

# Include when developing application packages.
pubspec.lock
