name: rxdart
version: 0.28.0-dev.0
description: >
  RxDart is an implementation of the popular reactiveX api for asynchronous
  programming, leveraging the native Dart Streams api.
repository: https://github.com/ReactiveX/rxdart

topics:
  - rxdart
  - reactive-programming
  - streams
  - observables
  - rx

environment:
  sdk: '>=2.13.0 <4.0.0'

dev_dependencies:
  build_runner: ^2.1.2
  build_web_compilers: ^3.0.0
  lints: ^1.0.1
  stack_trace: ^1.10.0
  test: ^1.17.12
