name: rxdart
version: 0.27.1
description: >
  RxDart is an implementation of the popular reactiveX api for asynchronous
  programming, leveraging the native Dart Streams api.
repository: https://github.com/ReactiveX/rxdart

environment:
  sdk: '>=2.12.0 <3.0.0'

dev_dependencies:
  build_runner: ^1.7.0
  build_web_compilers: ^2.7.0
  lints: ^1.0.1
  stack_trace: ^1.10.0
  test: ^1.17.8
