name: rxdart
version: 0.8.3+1
author: Frank Pepermans <frank@igindo.com>
description: Native Dart rx implementation
homepage: https://github.com/ReactiveX/rxdart
environment:
  sdk: '>=1.21.0'
dependencies:
dev_dependencies:
  browser: ^0.10.0+2
  collection: ^1.13.0
  react: ^0.8.5
  test: ^0.12.5+1
  benchmark_harness: ">=1.0.0 <2.0.0"
  coverage: ^0.9.2
