name: rxdart
version: 0.3.10
author: Frank Pepermans <frank@igindo.com>
description: Native Dart rx implementation
homepage: https://github.com/frankpepermans/rxdart
environment:
  sdk: '>1.12.0'
dependencies:
dev_dependencies:
  browser: ^0.10.0+2
  faker: ^0.0.4
  react: ^0.8.5
  test: ^0.12.5+1
  benchmark_harness: ">=1.0.0 <2.0.0"
