name: rxdart
version: 0.15.1
authors:
- Frank Pepermans <frank@igindo.com>
- Brian Egan <brian@brianegan.com>
description: Native Dart Rx implementation
homepage: https://github.com/ReactiveX/rxdart
environment:
  sdk: '>=1.21.0 <2.0.0'
dependencies:
dev_dependencies:
  browser: ^0.10.0+2
  test: 0.12.19
  benchmark_harness: ">=1.0.0 <2.0.0"
  coverage: ^0.9.2
web:
  compiler:
    debug: dartdevc
