name: Dart CI

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**.md' ]
  pull_request:
    branches: [ master ]
    paths-ignore: [ '**.md' ]
  schedule:
    # Runs at 00:00 UTC on the 1, 8, 15, 22 and 29th of every month.
    - cron:  '0 0 */7 * *'
jobs:
  analyze-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        sdk: [ stable, beta, dev, 2.12.0 ]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1.3
        with:
          sdk: ${{ matrix.sdk }}

      - name: Print Dart version
        run: dart --version

      - name: Install dependencies
        run: pub get

      - name: Analyze
        if: ${{ matrix.sdk == 'stable' }}
        run: dart analyze --fatal-infos --fatal-warnings

      - name: Format code
        if: ${{ matrix.sdk == 'stable' }}
        run: dart format . --set-exit-if-changed

      - name: Active coverage
        run: pub global activate coverage

      - name: Run tests
        run: pub run test test/rxdart_test.dart --chain-stack-traces

      - name: Start Observatory
        run: dart
          --disable-service-auth-codes
          --enable-vm-service=8111
          --pause-isolates-on-exit
          --enable-asserts
          test/rxdart_test.dart &

      - name: Collect coverage
        run: nohup pub global run coverage:collect_coverage
          --port=8111
          --out=coverage.json
          --wait-paused
          --resume-isolates

      - name: Format coverage
        run: pub global run coverage:format_coverage
          --lcov
          --in=coverage.json
          --out=lcov.info
          --packages=.packages
          --report-on=lib

      - uses: codecov/codecov-action@v2.1.0
